    <h1> About Us </h1>
    <p>
      CHIPS! is a snack company that specializes in unquie and homemade chips.
      We deliver all across the United States but are based here in Chicago!
      We make all of our chips in our special CHIP Kitchen, where we test and create all different kind of flavors!
     </p>
  
