<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Contact CHIPS!</p>
    <p> Phone Number: 555-5555</p>
    <p> Email: CHIPS!@gmail.com</p>
  </body>
</html>