
    <h1>Welcome to CHIPS!</h1>
    <p>We are CHIPS!</p>

    <h2> <%= books %></h2>
   
    <hr>

    <% for(let i = 0; i < books.length; i++) { %>
        <product>
            <h2><%= books[i].title %></h2>
            <p><%= books[i].author %></p>
            <p><%= books[i].publishedAt %></p>
        </product>
        <% } %>
